<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vy-pointe-folio - About me</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <style>
        @font-face {
            font-family: 'Vogue';
            src: url(./fonts/Vogue.ttf) format('truetype');
        }
    </style>
</head>

<body>
    <div id="nav-containter">
        <nav id="nav">
            <div><a href="/">home</a></div>
            <div><a href="/about" class="active">about me</a></div>
            <div><a href="/performing">performing</a></div>
            <div><a href="/writing">writing</a></div>
            <div><a href="/visuals">visuals</a></div>
        </nav>
    </div>
    <div id="about">
        <div class="row section">
            <div class="col-2">
                <img src="images/about1.png" alt="">
            </div>
            <div class="col-2 fs-24">
                <div style="padding: 80px; display: flex;flex-direction: column;align-items: flex-start;gap: 16px;">
                    <h3 class="fs-24">Personal portfolio</h3>
                    <h1 class="fs-88 f-w-normal vogue">VY M.NGUYEN</h1>
                    <p>Senior at Hanoi-Amsterdam</p>
                    <p>Specialized in Russian-English</p>
                    <div class="row fs-20"
                        style="display: flex; flex-direction: row; justify-content: flex-start;  gap: 8px;">
                        <div class="col-2 more-about" onclick="scrolldown()">What's more</div>
                        <div class="col-2 more-about" onclick="gonewtab(`https://drive.google.com/file/d/1M7M02g08HqKBgQPcQgAXMSgHD1McNvj5/view?fbclid=IwY2xjawGNf5BleHRuA2FlbQIxMAABHaxVNr31-OZGhEbCIJwy4G19tL5HJd_G1yJ6P460805RYLXq1UanOyikFA_aem_woElXIPQtEHTkdj3P6FvjQ`)">My Resume</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="js_scroll">
            <div class="col-2 p-80">
                <div>
                    <h1 class="vogue fs-44">Ams Ambassador - Most Wanted Class 2023</h1>
                    <ul class="my-16 pl-24">
                        <li class="fs-24 f-st-i">Student Ambassador of Engagement—Most Wanted Class 2023</li>
                    </ul>
                    <p class="motserrat fs-20 f-w-smaller">Ams Ambassador, part of our school's arts showcase NHAT, runs alongside the Most Wanted Class competition. 60
                    contestants from 13 Specialized Classes compete through four rounds (Application, Interview, Top 20—Talent Round, Top
                    10—Traditional and Evening gowns). I was named Student Ambassador of Engagement, contributing to my class winning the
                    Most Wanted Class title in the Grand Finale Night, the event's highest honor.</p>
                </div>
            </div>
            <div class="col-2 my-80" style="padding-right: 80px;"><img src="images/about2.png" alt=""></div>
        </div>

        <div id="active_volunteer" class="p-80">
            <div>
                <h1 class="vogue fs-44 my-16">Charity Week</h1>
                <p class="motserrat fs-20 f-w-smaller">One of the most memorable and meaningful experiences I gained from the competition was during Charity Week, when all the
                students at my school collected old clothes and books to donate. The Ambassadors will personally deliver the gifts to
                children in need. This year, we represented the students of Hanoi-Amsterdam by donating recyclable paper and books,
                building a new bookcase, and repainting the deteriorated walls of the Special Needs Children's Area in Ba Vi.</p>
                <!-- <ul class="motserrat fs-20 my-16 f-w-smaller" style="line-height: 36px;">
                    <li>Renovating remote mountain schools’ reading space and decorating school walls as a surprise
                        transformation, aiming to
                        inspire and motivate them.</li>
                    <li>Handing gifts at the Thuy An Center for the Elderly and Disabled, located 100 kilometers from
                        Hanoi.</li>
                    <li>Organize a book fair for 50 children.</li>
                    <li>Build a new bookcase.</li>
                </ul> -->
            </div>
            <div class="gallery my-32" id="volunteer">
            </div>
            <div class="guide-note fs-20 pb-32 border-bottom">Scroll horizontally to view</div>
        </div>


    </div>
    <script src="javascripts/index.js"></script>
    <script>
        let volunteer_gallery = document.querySelector('#volunteer');
        let images = [
            'images/about-volun-1.png',
            'images/about-volun-2.png',
            'images/about-volun-3.png',
            'images/about-volun-4.png',
            'images/about-volun-5.png',
        ];
        volunteer_gallery.innerHTML = images.map(image => `<img src="${image}" alt="">`).join('');

        function gonewtab(url) {
            window.open(url, '_blank');
        }
        function scrolldown() {
            //smooth scroll
            document.querySelector('#js_scroll').scrollIntoView({
                behavior: 'smooth'
            });
        }
    </script>
</body>

</html>