<html>

<head>
    <title>Vy-pointe-folio - Performing</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <style>
        @font-face {
            font-family: 'Vogue';
            src: url(./fonts/Vogue.ttf) format('truetype');
        }
    </style>
</head>

<body>
    <div id="nav-containter">
        <nav id="nav">
            <div><a href="/">home</a></div>
            <div><a href="/about">about me</a></div>
            <div><a href="/performing" class="active">performing</a></div>
            <div><a href="/writing">writing</a></div>
            <div><a href="/visuals">visuals</a></div>
        </nav>
    </div>

    <div id="performing" class="fs-24">
        <div id="leg-holder">
            <img src="images/full-leg.svg" alt="" id="performing-img-1" class="center-abs blend">
            <img src="images/leg.svg" alt="" id="performing-img-2" class="center-abs">
            <div class="p-16 blur d-i-b" id="ballet" onclick="showInfo('balletInfo')">
                <div class="p-8-16 t-a-center hover d-i-b">Ballet</div>
            </div>
            <div class="p-16 blur d-i-b" id="cheerleading" onclick="showInfo('cheerleadingInfo')">
                <div class="p-8-16 t-a-center hover d-i-b">Cheerleading</div>
            </div>
            <div class="p-16 blur d-i-b" id="dance" onclick="showInfo('danceInfo')">
                <div class="p-8-16 t-a-center hover d-i-b">Dance compilation</div>
            </div>
            <div class="p-16 blur d-i-b" id="costume" onclick="showInfo('costumeInfo')">
                <div class="p-8-16 t-a-center hover d-i-b">Costume showcase</div>
            </div>
        </div>
    </div>

    <div id="balletInfo" class="p-80 fs-24 motserrat c-gray d-n infor">
        <div class="backtoperform">
            <img src="images/arrow-left.svg" alt="">
            <p>Back to Performing</p>
        </div>

        <div class=" my-32 row g-24">
            <div class="col-3">
                <h1 class="vogue fs-44 t-t-up">BALLET</h1>
                <ul class="my-16 pl-24">
                    <li class="f-st-i">Pirouette into my world on pointe!</li>
                </ul>
                <p class="motserrat fs-1d3vw f-w-smaller">I'm showcasing some of my all-time favorite moments featuring
                    my original
                    choreography here.</p>
            </div>
            <div class="col-2-3 video-holder"><iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/g6hEJURMjFo" title="Ballet Reverie | Studio Session"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        </div>

        <div class="gallery my-60">
            <!-- ballet gallery -->
        </div>

        <div class="gallery my-60 js_gallery1">
            <!-- ballet gallery -->
        </div>

        <div class="gallery my-60 js_gallery2">
            <!-- ballet gallery -->
        </div>

        <!-- <div class=" my-32 row g-24">
            <div class="col-2-3 video-holder"></div>
            <div class="col-3">
            </div>
        </div> -->

        <div id="ballet_teacher">
            <div>
                <h1 class="vogue fs-44 my-16 t-t-up">ballet class gallery</h1>
            </div>
            <p class="motserrat fs-20 l-h-36">I also led free weekly Ballet classes for 12 children.
                This initiative aimed to introduce basic
                techniques and make Ballet accessible to young, aspiring dancers who couldn't afford professional
                instruction.</p>
            <div class="gallery my-32" id="about-ballet">
            </div>
            <div class="guide-note">Scroll horizontally to view</div>
        </div>
    </div>

    <div id="danceInfo" class="p-80 fs-24 motserrat c-gray d-n infor">
        <div class="backtoperform">
            <img src="images/arrow-left.svg" alt="">
            <p>Back to Performing</p>
        </div>

        <h1 class="vogue fs-44 t-t-up my-32">Dance compilation</h1>
        <ul class="my-32">
            <li>
                This is a collection of dance videos in which I either directed or performed.
            </li>
        </ul>
        <div class="my-60 row g-24">
            <div class="video-holder col-2-3">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UhJkHCEUCcA"
                    title="Talent Round | Ams Ambassador ‘23" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-3">
                <h1 class="vogue fs-44 t-t-up my-32">Ams Ambassadors’ Talent Round</h1>
                <ul class="my-16 pl-24">
                    <li class="f-st-i">In my Talent Round, I took the stage in front of 700 audience members,
                        bringing a unique fusion of ballet,
                        contemporary dance, and some acting.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row g-24" style="height: 378px;">
            <div class=""><img src="images/perform_dance_1.png" alt=""></div>
            <div class=""><img src="images/perform_dance_2.png" alt=""></div>

        </div>

        <div class="row g-24 my-24 justify-space-between">
            <div class="">
                <img src="images/perform_dance_3.png" alt="">
            </div>
            <div class=""><img src="images/perform_dance_4.png" alt=""></div>
            <div class=""><img src="images/perform_dance_5.png" alt=""></div>
        </div>

        <div class="my-60 row g-24">
            <div class="col-3">
                <h1 class="vogue fs-44 t-t-up my-32 f-w-normal">English-Russian Class Performance</h1>
                <ul class="my-16 pl-24">
                    <li class="f-st-i">
                        My stage debut took place at NHAT, where I performed as one of the lead performers in front of an audience of over 5,000 people.
                    </li>
                </ul>
            </div>
            <div class="video-holder col-2-3">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qGk67UhwHD8"
                    title="[NHAT&#39;22] TÀI NĂNG KHỐI CHUYÊN NGA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <!-- <div class="gallery my-60">
             dance gallery
        </div>  -->

        <div class="row g-24" style="height: 378px;">
            <div class=""><img src="images/performing-img-1.png" alt=""></div>
            <div class=""><img src="images/performing-img-4.png" alt=""></div>

        </div>

        <div class="row g-24 my-24 justify-space-between">
            <div class="">
                <img src="images/performing-img-2.png" alt="">
            </div>
            <div class=""><img src="images/performing-img-3.png" alt=""></div>
            <div class=""><img src="images/performing-img-5.png" alt=""></div>
        </div>


        <h1 class="vogue fs-44 t-t-up my-32">Dance Class performance</h1>
        <ul class="my-16 pl-24">
            <li class="f-st-i">Please enjoy some of our choreography - performed (bravely!) by my lovely
                students.
            </li>
        </ul>
        <div class=" my-60 row g-24">

            <div class="col-2 video-holder">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NjrFWy6iv_8"
                    title="Class 1 | Dance Routines" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-2 video-holder">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/e0jtLTTXrb4"
                    title="Class 1 | Mid Autumn Festival Performance" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div id="costumeInfo" class="p-80 fs-24 motserrat c-gray d-n infor">
        <div class="backtoperform">
            <img src="images/arrow-left.svg" alt="">
            <p>Back to Performing</p>
        </div>

        <div class=" my-32 row g-24">
            <div class="col-3">
                <h1 class="vogue fs-44 t-t-up">Traditional costume showcase</h1>
                <ul class="my-16 pl-24">
                    <li class="f-st-i">Now immerse yourself in the elegance of Ao dai, a symbol of Vietnamese heritage I
                        deeply
                        cherish. It’s eye-catching, and
                        it’s got a story to tell.</li>
                </ul>
            </div>
            <div class="col-2-3 video-holder"><iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/9i4L0Sy4hFc"
                    title="Vietnam’s Traditional Costume Showcase - Ao dai" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        </div>

        <div class="gallery my-60">
            <!-- costume gallery -->
        </div>
    </div>

    <div id="cheerleadingInfo" class="p-80 fs-24 motserrat c-gray d-n infor">
        <div class="backtoperform">
            <img src="images/arrow-left.svg" alt="">
            <p>Back to Performing</p>
        </div>

        <h1 class="vogue fs-44 t-t-up my-32">Cheerleading</h1>
        <ul class="my-32">
            <li>
                Just your average Wednesday bending into a human pretzel. My spine said, “weird flex but ok.”
            </li>
        </ul>

        <div class=" my-60 row g-24">
            <div class="col-3">
                <h1 class="vogue fs-44 t-t-up">Cheerleading</h1>
                <ul class="my-16 pl-24">
                    <li class="f-st-i">Pom poms optional, but enthusiasm is a must!</li>
                </ul>
            </div>
            <div class="col-2-3 video-holder">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Mx7ntzSXcvs"
                    title="AMS GOT TATLENT 2023 - CHEER AMS" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <div class=" my-60 row g-24">
            <div class="col-2-3 video-holder">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UnDOdZWMpO8"
                    title="Cheer Ams X Ams’ Got Talent XVI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-3">
                <ul class="my-16 pl-24">
                    <li class="f-st-i">Even though Cheerleading is a fairly young sport in Vietnam, we are proud that we
                        are the most active and well-known
                        high school cheerleading squad in Hanoi.</li>
                </ul>
            </div>
        </div>

        <div class=" my-60 row g-24">
            <div class="col-3">
                <ul class="my-16 pl-24">
                    <li class="f-st-i">Ams Got Talent, or AGT for short, is Hanoi-Amsterdam High School Got Talent
                        Competition, attracting participation from
                        60+ teams. During my time at Cheer Ams, we won the First Prize (2023) and the Champion Title
                        (2024).</li>
                </ul>
            </div>
            <div class="col-2-3 video-holder">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/G1PiCOzAPK0"
                    title="Message of Love 2023 | Hanoi-Amsterdam Art Team &amp; Cheer Ams" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <h1 class="vogue fs-44 t-t-up">Cheer Ams Gallery</h1>

        <div class="gallery my-60">
            <!-- costume gallery -->
        </div>
    </div>


    <script>

        let ballet_gallery = document.querySelector('#about-ballet');
        let ballet_images2 = [
            'images/about-ballet-1.png',
            'images/about-ballet-2.png',
            'images/about-ballet-3.png',
            'images/about-ballet-4.png',
            'images/about-ballet-5.png',
            'images/about-ballet-6.png',
            'images/about-ballet-7.png',
            'images/about-ballet-8.png',
            'images/about-ballet-9.png',
            'images/about-ballet-10.png',
            'images/about-ballet-11.png',
        ];
        ballet_gallery.innerHTML = ballet_images2.map(image => `<img src="${image}" alt="">`).join('');

        ballet_gallery = document.querySelector('#balletInfo .gallery');
        let ballet_images = [
            'images/perform_ballet_1.png',
            'images/perform_ballet_2.png',
            'images/perform_ballet_3.png',
            'images/perform_ballet_4.png',
            'images/perform_ballet_5.png',
            'images/perform_ballet_6.png',
            'images/perform_ballet_7.png',
            'images/perform_ballet_8.png',
        ];
        ballet_gallery.innerHTML = ballet_images.map(image => `<img src="${image}" alt="" class="col-3">`).join('');

        ballet_gallery = document.querySelector('#balletInfo .js_gallery2');
        ballet_images = [
            'images/perform_ballet_9.png',
            'images/perform_ballet_10.png',
            'images/perform_ballet_11.png',
            'images/perform_ballet_12.png',
            'images/perform_ballet_13.png',
            'images/perform_ballet_14.png',
        ];
        ballet_gallery.innerHTML = ballet_images.map(image => `<img src="${image}" alt="" class="col-3">`).join('');

        ballet_gallery = document.querySelector('#balletInfo .js_gallery1');
        ballet_images = [
            'images/perform_ballet_15.png',
            'images/perform_ballet_16.png',
            'images/perform_ballet_17.png',
            'images/perform_ballet_18.png',
        ];
        ballet_gallery.innerHTML = ballet_images.map(image => `<img src="${image}" alt="" class="col-3">`).join('');

        // let dance_gallery = document.querySelector('#danceInfo .gallery');
        // let dance_images = [
        //     'images/perform_dance_1.png',
        //     'images/perform_dance_2.png',
        //     'images/perform_dance_3.png',
        //     'images/perform_dance_4.png',
        //     'images/perform_dance_5.png',
        //     'images/perform_dance_6.png',
        // ];
        // dance_gallery.innerHTML = dance_images.map(image => `<img src="${image}" alt="" class="col-3">`).join('');

        let costume_gallery = document.querySelector('#costumeInfo .gallery');
        let costume_images = [
            'images/perform_costume_1.png',
            'images/perform_costume_2.png',
            'images/perform_costume_3.png',
            'images/perform_costume_4.png',
        ];
        costume_gallery.innerHTML = costume_images.map(image => `<img src="${image}" alt="">`).join('');

        let cheerleading_gallery = document.querySelector('#cheerleadingInfo .gallery');
        let cheerleading_images = [
            'images/perform_cheerleading_1.png',
            'images/perform_cheerleading_2.png',
            'images/perform_cheerleading_3.png',
            'images/perform_cheerleading_4.png',
            'images/perform_cheerleading_5.png',
            'images/perform_cheerleading_6.png',
            'images/perform_cheerleading_7.png',
            'images/perform_cheerleading_8.png',
            'images/perform_cheerleading_9.png',
            'images/perform_cheerleading_10.png',
            'images/perform_cheerleading_11.png',
        ];
        cheerleading_gallery.innerHTML = cheerleading_images.map(image => `<img src="${image}" alt="" >`).join('');
    </script>
    <script>
        function showInfo(id) {
            let nav = document.querySelector('#nav-containter');
            nav.style.top = '-100px';
            performing.classList.add('d-n');
            let allInfo = document.querySelectorAll('.infor');
            allInfo.forEach(info => {
                info.classList.add('d-n');
            });
            document.querySelector(`#${id}`).classList.remove('d-n');
        }
        let backtoperforms = document.querySelectorAll('.backtoperform');
        backtoperforms.forEach(backtoperform => {
            backtoperform.addEventListener('click', () => {
                let nav = document.querySelector('#nav-containter');
                nav.style.top = '70px';
                performing.classList.remove('d-n');
                let allInfo = document.querySelectorAll('.infor');
                allInfo.forEach(info => {
                    info.classList.add('d-n');
                });
            });
        })
    </script>
    <script src="javascripts/index.js"></script>
</body>

</html>