<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vy-pointe-folio - Writing</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/write.css">
    <style>
        @font-face {
            font-family: 'Vogue';
            src: url(./fonts/Vogue.ttf) format('truetype');
        }
    </style>
</head>

<body>
    <div id="nav-containter">
        <nav id="nav">
            <div><a href="/">home</a></div>
            <div><a href="/about">about me</a></div>
            <div><a href="/performing">performing</a></div>
            <div><a href="/writing" class="active">writing</a></div>
            <div><a href="/visuals">visuals</a></div>
        </nav>
    </div>

    <div id="writing">
        <div id="writing-main">

            <h1 class="vogue fs-44 f-w-normal t-t-up">Tactile books</h1>
            <!-- ------------------------ -->
            <ul class="my-16">
                <li class="fs-24 montserrat f-st-i l-h-36 f-w-600">
                    For two years, I've contributed to Viet Nam's first and largest Braille library. I craft Braille
                    books
                    with tactile
                    images, collaborating closely with visually impaired children. Through braille text and richly
                    embroidered textures,
                    tactile books illuminate a world once shrouded in darkness, allowing fingertips to unveil
                    fantastical
                    realms never seen
                    but somehow imagined.
                </li>
            </ul>
            <!-- ------------------------ -->
             <div class="t-a-center my-32 fs-20">
                Please click the book to explore
             </div>
            <div class="d-f justify-center align-center" style="width: 100%; flex-wrap: wrap;" id="visuals-main">
                <div style="position: relative;" id="toBook1">
                    <div class="row"><img src="/images/writing-book1-cover.png" alt=""></div>
                    <div class="overlay fs-24 montserrat f-st-i l-h-36 f-w-600 t-a-center">
                        <div> Little Mo's Big Leap</div>
                    </div>
                </div>
                <div style="position: relative;" id="toBook2">
                    <div><img src="/images/writing-book2-cover.png" alt=""></div>
                    <div class="overlay fs-24 montserrat f-st-i l-h-36 f-w-600 t-a-center">
                        <div>Moonlit Journey: A Little Turtle's Tale</div>
                    </div>
                </div>
                <div style="position: relative;" id="toBook3">
                    <div><img src="/images/writing-book3-cover.png" alt=""></div>
                    <div class="overlay fs-24 montserrat f-st-i l-h-36 f-w-600 t-a-center">
                        <div>Through Divine Eyes: The First Christmas</div>
                    </div>
                </div>
                <div style="position: relative;" id="toBook4">
                    <div><img src="/images/writing-book4-cover.png" alt=""></div>
                    <div class="overlay fs-24 montserrat f-st-i l-h-36 f-w-600 t-a-center">
                        <div>Three Kind Of Love</div>
                    </div>
                </div>
                <div style="position: relative;" id="toBook5">
                    <div class="row"><img src="/images/writing-book5-cover.png" alt=""></div>
                    <div class="overlay fs-24 montserrat f-st-i l-h-36 f-w-600 t-a-center">
                        <div>Feel How Pretty</div>
                    </div>
                </div>
            </div>
            <!-- ------------------------ -->
            <ul class="fs-24 f-st-i f-w-600 my-16 pl-24">
                <li>Each page invites active exploration, making learning both interactive and meaningful.</li>
            </ul>
            <!-- ------------------------ -->
            <div class="gallery mb-32" id="writing-gallery">

            </div>
            <div class="border-bottom my-60"></div>
            <!-- ------------------------ -->
            <div>
                <h1 class="vogue t-t-up fs-44">A short story</h1>
                <ul class="my-16 pl-24 f-st-i fs-24">
                    <li>A piece of my creative writing that I absolutely love—want to take a look?</li>
                </ul>
            </div>
            <!-- ------------------------ -->
            <div class="d-f justify-center align-center">
                <input type="checkbox" id="checkbox-cover">
                <input type="checkbox" id="checkbox-page1">
                <input type="checkbox" id="checkbox-page2">
                <input type="checkbox" id="checkbox-page3">
                <input type="checkbox" id="checkbox-page4">
                <input type="checkbox" id="checkbox-page5">
                <input type="checkbox" id="checkbox-page6">
                <input type="checkbox" id="checkbox-page7">
                <input type="checkbox" id="checkbox-page8">
                <input type="checkbox" id="checkbox-page9">
                <input type="checkbox" id="checkbox-page10">
                <input type="checkbox" id="checkbox-page11">
                <input type="checkbox" id="checkbox-page12">
                <input type="checkbox" id="checkbox-page13">
                <input type="checkbox" id="checkbox-page14">
                <input type="checkbox" id="checkbox-page15">
                <input type="checkbox" id="checkbox-page16">
                <input type="checkbox" id="checkbox-page17">
                <div class="book">
                    <div class="cover page">
                        <label for="checkbox-cover"><img src="./images/book-story-1-label.png" class="story-label"
                                alt="click"></label>
                        <div class="front-cover1 ">
                            <img src="./images/book-front-cover.png" alt="" style="position: relative;">
                        </div>
                        <div class="front-cover2 ">
                            <img src="./images/book-back-cover.png">
                        </div>
                    </div>
                </div>
            </div>

            <!-- ------------------------ -->
            <div class="border-bottom my-80 py-32"></div>
            <!-- ------------------------ -->
            <div id="journal" class="row g-24">
                <div class="col-2 row" style="scale: 1.1;justify-content: flex-start;">
                    <div style="position: relative; left: 100px;"><img src="images/writing-11.png" alt=""></div>
                    <div><img src="images/writing-12.png" alt=""></div>
                </div>
                <div class="">
                    <h1 class="vogue fs-44 t-t-cap f-w-normal">
                        journal
                    </h1>
                    <ul class="my-16 fs-24 f-st-i pl-24">
                        <li>Ah yes, I’m also a journalist, and a pretty promising one!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="book1" class="" style="display: none;">
            <div class="backtoperform fs-1d5vw">
                <img src="images/arrow-left.svg" alt="">
                <p>Back to Writing</p>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <h3 class="montserrat fs-24 f-w-600 l-h-36">Little Mo's Big Leap</h3>
                    <p class="montserrat fs-20 l-h-36">"Little Mo's Big Leap" follows a young monkey's journey to reach
                        the tallest tree in the forest.
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/1-1.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/1-2.png" alt="">
                </div>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/1-3.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/1-4.png" alt="">
                </div>
                <div class="">
                    <p class="montserrat fs-20 l-h-36">When his aging mother can no longer climb beside him, Mo must
                        find the courage to chase his dreams alone – discovering
                        that sometimes the most important lessons about perseverance and self-soothing come from
                        remembering what our parents
                        taught us.
                    </p>
                </div>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <p class="montserrat fs-24 f-w-600 l-h-36 my-32">Animal detail:</p>
                    <p class="montserrat fs-24 f-w-600 l-h-36">• A gray, bendable plush monkey features fuzzy material
                        and a poseable tail that adds depth and texture.
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/1-5.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/1-6.png" alt="">
                </div>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <img src="images/writing/1-7.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/1-8.png" alt="">
                </div>
                <div class="">
                    <p class="montserrat fs-24 f-w-600 l-h-36 my-32">Scenery detail:</p>
                    <p class="montserrat fs-24 f-w-600 l-h-36">• A blue, shiny material is used to represent a puddle or
                        body of water.
                    </p>
                    <div class="my-16"></div>
                    <p class="montserrat fs-24 f-w-600 l-h-36">• The green leaves and grass are made from a combination
                        of faux leaves and felt, creating a
                        contrast in textures to
                        make the setting tactile.
                    </p>
                </div>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="montserrat fs-24 f-w-600 l-h-36">
                    <p>• The tree is made from burlap-like fabric, representing a rough tree bark texture.
                    </p>
                    <div class=" my-16">
                    </div>
                    <p> • The green grass at the bottom is made of felt, cut to resemble blades of grass.
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/1-9.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/1-10.png" alt="">
                </div>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <img src="images/writing/1-11.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/1-12.png" alt="">
                </div>
            </div>
        </div>

        <div id="book2" class="" style="display: none;">
            <div class="backtoperform fs-1d5vw">
                <img src="images/arrow-left.svg" alt="">
                <p>Back to Writing</p>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <h3 class="montserrat fs-24 f-w-600 l-h-36">Moonlit Journey: A Little Turtle's Tale</h3>
                    <p class="montserrat fs-20 l-h-36">Is a touching story about baby turtle Tina's first moments of
                        life, as she and her siblings race from their sandy nest
                        to the safety of the ocean.
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/2-1.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-2.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36">Through encounters with dangerous predators and wisdom from
                    her Big Brother, Tina learns that her mother's absence is
                    her greatest act of love, and that sometimes the things that seem like burdens – slow legs and heavy
                    shells – are
                    actually gifts for the long journey ahead.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-3.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-4.png" alt="">
                </div>

            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36">The tactile images are created using fabric, thread, and
                    various textured materials to represent underwater elements.
                    The background is made of satin and cotton to simulate the ocean's layers.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-5.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-6.png" alt="">
                </div>

            </div>

            <div class="montserrat fs-24 f-w-500 l-h-36">
                <p class="">Detail: </p>
                <ul class="pl-32">
                    <li> The fish, turtle, and seahorse figures are made from plastic and embroidered fabric for
                        texture, with added beads to
                        give them a shiny, scaly appearance.</li>
                    <li> The raccoon is made from a fuzzy, faux fur fabric to simulate a soft, textured coat.</li>
                </ul>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-8.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-7.png" alt="">
                </div>

            </div>

            <div class="montserrat fs-24 f-w-500 l-h-36">
                <p class="">• The sea plants at the bottom are represented using fabric patches to simulate the
                    underwater flora. </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-9.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-10.png" alt="">
                </div>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-11.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-12.png" alt="">
                </div>
            </div>
            <div class="montserrat fs-24 f-w-500 l-h-36">
                <p class="">• The turtle shell is made from textured leather or fabric with a layered pattern to mimic
                    the texture of a turtle’s
                    shell.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-13.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-14.png" alt="">
                </div>
            </div>
            <div class="montserrat fs-24 f-w-500 l-h-36">
                <p class="my-32">• Buttons representing turtle eggs.</p>
                <p class="my-32">
                    • Small objects resembling pebbles, made from wooden beads, are attached to the lower part of the
                    page, adding extra
                    tactile detail.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/2-15.png" alt="">
                </div>
                <div class="">
                    <img src="images/writing/2-16.png" alt="">
                </div>
            </div>
            <div class="montserrat fs-24 f-w-500 l-h-36">
                <p class="my-32">• The beach area, crafted from burlap, provides a grainy texture that mimics sand while
                    creating a contrast against the
                    animal's soft surface.</p>
            </div>
        </div>

        <div id="book3" class="" style="display: none;">
            <div class="backtoperform fs-1d5vw">
                <img src="images/arrow-left.svg" alt="">
                <p>Back to Writing</p>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <h3 class="montserrat fs-24 f-w-600 l-h-36">Through Divine Eyes: The First Christmas</h3>
                    <p class="montserrat fs-20 l-h-36">retells the sacred narrative of Christ's birth through Matthew's
                        faithful account – from the angel's appearance to
                        Joseph, to the journey of the Magi following the brilliant star over Bethlehem.
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/3-1.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36">The tactile images in this book are made using a combination
                    of soft and textured materials. 
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/3-2.png" alt="">
                </div>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/3-3.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">Scenery detail:
                </p>
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">• Blue background fabric: soft cotton represents the
                    night
                    sky.
                </p>
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">• Green hill: Made from velvety fabric, giving a smooth
                    yet
                    slightly textured feel.
                </p>
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">• White buildings: cut-out felt pieces attached to
                    resemble
                    houses, offering a soft texture.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/3-4.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36">• Star and smaller stars: The large star is made from yellow
                    felt with glitter details to add a shiny, rough texture.
                    Smaller stars is embroidered or made from sequins.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/3-5.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">Doll detail:</p>
                <p class="montserrat fs-24 f-w-500 l-h-36">• Star and smaller stars: The large star is made from yellow
                    felt with glitter details to add a shiny, rough texture.
                    Smaller stars is embroidered or made from sequins.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/3-6.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">• Clothing: The garments have varied textures,
                    incorporating materials like silk, felt, and cotton for the robes, with
                    some embroidered accents for decoration.</p>
                <p class="montserrat fs-24 f-w-500 l-h-36">• Hair and beards: Made from yarn or wool, giving them a soft
                    and fluffy texture.
                </p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/3-7.png" alt="">
                </div>
            </div>
        </div>

        <div id="book4" style="display: none;">
            <div class="backtoperform fs-1d5vw">
                <img src="images/arrow-left.svg" alt="">
                <p>Back to Writing</p>
            </div>

            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <h3 class="montserrat fs-24 f-w-600 l-h-36">Three Kind Of Love</h3>
                    <p class="montserrat fs-20 l-h-36">"Three Kinds of Love" tells the story of a blind boy who
                        remembers his mothers through a symphony of sensations
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/4-1.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">His birth mother's jasmine fragrance mixed with her
                    lullaby voice, protective leather gloves that remind him of his
                    Braille teacher guiding his hands, and soft dandelions that feel just like the tactile pictures his
                    English mother
                    creates.</p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/4-2.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">Through that unique perspective, he wonders: how could
                    anyone think he's unlucky, when he has three times the love?</p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/4-3.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">Potholes detail: Made of straw<br>
                    Dandelion detail:<br>
                    • Created using silver, shiny tinsel-like material to resemble dandelion seeds.</p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/4-4.png" alt="">
                </div>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/4-5.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">• Their stems are represented with green plastic
                    ribbons or fabric, which are twisted or shaped to resemble plant
                    stalks.</p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/4-6.png" alt="">
                </div>
            </div>
        </div>

        <div id="book5" style="display: none;">
            <div class="backtoperform fs-1d5vw">
                <img src="images/arrow-left.svg" alt="">
                <p>Back to Writing</p>
            </div>
            <div class="row  my-32" style="width: 100%;">
                <div class="">
                    <h3 class="montserrat fs-24 f-w-600 l-h-36">Feel How Pretty</h3>
                    <p class="montserrat fs-20 l-h-36">“Feel How Pretty!" invites young readers to explore hair care
                        through their fingertips, combining raised illustrations
                        with playful questions about daily grooming routines.
                    </p>
                </div>
                <div class="">
                    <img src="images/writing/5-1.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">From finding the ridges of a comb to tracing the
                    pattern of a perfect braid, this tactile journey helps visually
                    impaired children discover the joy and independence of keeping their hair beautiful – one touch at a
                    time.</p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/5-2.png" alt="">
                </div>
            </div>
            <div class="">
                <p class="montserrat fs-24 f-w-500 l-h-36 my-32">Book cover detail:<br>
                    • The hair is made from synthetic hair to give the feel of real braids.<br>
                    • The face is made from soft foam pieces (for nose, lips, etc.) and googly eyes to add a playful,
                    tactile element. <br>
                    • Paper or cardboard base for structure, with some fabric around the edges for protection.</p>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/5-3.png" alt="">
                </div>
            </div>
            <div class="row my-32">
                <div class="">
                    <img src="images/writing/5-4.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <script>
        let writing_gallery = document.querySelector('#writing-gallery');
        let images = [
            'images/writing-5.png',
            'images/writing-6.png',
            'images/writing-7.png',
            'images/writing-8.png',
            'images/writing-9.png',
            'images/writing-10.png',
            'images/writing-13.png',
        ];
        images.forEach(image => {
            let img = document.createElement('img');
            img.src = image;
            writing_gallery.appendChild(img);
        })
    </script>

    <script>
        let page_imgs = [
            ['images/book-story-1.png',
                'images/book-story-1_1.png'],
            ['images/book-story-1_2.png',
                'images/book-story-1_3.png'],
            ['images/book-story-1_4.png',
                'images/book-story-1_5.png'],
            ['images/book-story-1_6.png',
                'images/book-story-1_7.png'],
            ['images/book-story-1_8.png',
                'images/book-story-1_9.png'],
            ['images/book-story-1_10.png',
                'images/book-story-1_11.png'],
            ['images/book-story-1_12.png',
                'images/book-story-1_13.png'],
            ['images/book-story-2.png',
                'images/book-story-2_1.png'],
            ['images/book-story-2_2.png',
                'images/book-story-2_3.png'],
            ['images/book-story-2_4.png',
                'images/book-story-2_5.png'],
            ['images/book-story-2_6.png',
                'images/book-story-2_7.png'],
            ['images/book-story-2_8.png',
                'images/book-story-2_9.png'],
            ['images/book-story-2_10.png',
                'images/book-story-2_11.png'],
        ]

        let book = document.querySelector('.book');
        for (let i = 0; i < page_imgs.length; i++) {
            //page
            let page_div = document.createElement('div');
            page_div.classList.add('page');
            page_div.id = `page${i + 1}`;
            //front
            let front_page = document.createElement('div');
            front_page.classList.add('front-page');
            let img = document.createElement('img');
            img.src = page_imgs[i][0];
            front_page.appendChild(img);
            let label_next = document.createElement('label');
            label_next.classList.add('book-next');
            label_next.setAttribute('for', `checkbox-page${i + 1}`);
            if (page_imgs[i][0] === 'images/book-story-2.png') {
                label_next.classList.add('story-label')
                label_next.style.top = 'calc(var(--book-height) - 15%)';
                label_next.style.right = 'calc(var(--book-height) * 0.7 - 335px  / 2)';
                label_next.innerHTML = `<img src="./images/book-story-2-label.png" alt="click">`
                page_div.appendChild(label_next);
            } else {
                front_page.appendChild(label_next);
            }
            page_div.appendChild(front_page);
            //back
            if (!page_imgs[i][1]) {
                continue
            }
            let back_page = document.createElement('div');
            back_page.classList.add('back-page');
            let img_back = document.createElement('img');
            img_back.src = page_imgs[i][1];
            back_page.appendChild(img_back);
            let label_prev = document.createElement('label');
            label_prev.classList.add('book-prev');
            label_prev.setAttribute('for', `checkbox-page${i + 1}`);
            back_page.appendChild(label_prev);
            page_div.appendChild(back_page);
            book.appendChild(page_div);

            //add page to book
            book.appendChild(page_div);

        }

        book.innerHTML += '<div class="back-cover"></div>';

        let story_label1 = document.querySelector('label[for="checkbox-cover"]');
        let story_label2 = document.querySelector('.story-label.book-next');
        let input1 = document.querySelector('#checkbox-cover');
        story_label1.addEventListener('click', () => {
            //when this label pressed, the book turns to the first page by check and uncheck the other labels
            let checkboxs = document.querySelectorAll('input[type="checkbox"]');
            //filter out the unchecked checkbox
            checkboxs = Array.from(checkboxs).filter(checkbox => checkbox.checked);
            console.log(checkboxs);
            let i = checkboxs.length - 1;
            function turnPage(i) {
                if (i == 0) {
                    return;
                }
                setTimeout(() => {
                    checkboxs[i].checked = false;
                    turnPage(i - 1);
                }, 200);
            }
            setTimeout(() => {
                if (checkboxs.length == 0) {
                    return;
                }
                turnPage(i);
                input1.checked = true;
            }, 0);
        });


        story_label2.addEventListener('click', () => {
            //this label is in between the last page and the first page, so to turn to this page, 
            // we need to check the page before it and uncheck the page after it
            let checkboxs = document.querySelectorAll('input[type="checkbox"]');
            //find the checkbox index that have this label
            let THISINDEX = Array.from(checkboxs).findIndex(checkbox => checkbox.id == 'checkbox-page8');

            //find the last checked checkbox index
            let LASTINDEX = Array.from(checkboxs).findLastIndex(checkbox => checkbox.checked);
            console.log(THISINDEX, LASTINDEX);
            if (LASTINDEX == -1) {
                checkboxs[0].checked = true; LASTINDEX++;
            }
            if (LASTINDEX == 7) return;
            if (LASTINDEX < THISINDEX) {

                turnPage(LASTINDEX);
                setTimeout(() => {
                    checkboxs[THISINDEX].checked = false;
                }, 10)
            }
            if (LASTINDEX > THISINDEX) {
                turnPage(LASTINDEX);
                checkboxs[8].checked = false;
            }

            function turnPage(i) {
                if (i == THISINDEX) {
                    return;
                }
                if (i < THISINDEX) {
                    setTimeout(() => {
                        checkboxs[i].checked = true;
                        turnPage(i + 1);
                    }, 200);
                }
                if (i > THISINDEX) {
                    setTimeout(() => {
                        checkboxs[i].checked = false;
                        turnPage(i - 1);
                    }, 200);
                }
            }
        })
    </script>

    <script>
        let nav = document.getElementById('nav-containter');
        let writing_main = document.getElementById('writing-main');
        let writing = document.getElementById('writing');
        let book1 = document.getElementById('book1');
        let book2 = document.getElementById('book2');
        let book3 = document.getElementById('book3');
        let book4 = document.getElementById('book4');
        let book5 = document.getElementById('book5');
        let toBook1 = document.getElementById('toBook1');
        let toBook2 = document.getElementById('toBook2');
        let toBook3 = document.getElementById('toBook3');
        let toBook4 = document.getElementById('toBook4');
        let toBook5 = document.getElementById('toBook5');
        let backtoperform = document.querySelectorAll('.backtoperform');

        toBook1.addEventListener('click', () => {
            writing_main.style.display = 'none';
            writing.style.paddingTop = '24px';
            book1.style.display = 'block';
            book2.style.display = 'none';
            book3.style.display = 'none';
            book4.style.display = 'none';
            book5.style.display = 'none';
            nav.style.top = '-100px';
        });

        toBook2.addEventListener('click', () => {
            writing_main.style.display = 'none';
            writing.style.paddingTop = '24px';
            book1.style.display = 'none';
            book2.style.display = 'block';
            book3.style.display = 'none';
            book4.style.display = 'none';
            book5.style.display = 'none';
            nav.style.top = '-100px';
        });

        toBook3.addEventListener('click', () => {
            writing_main.style.display = 'none';
            writing.style.paddingTop = '24px';
            book1.style.display = 'none';
            book2.style.display = 'none';
            book3.style.display = 'block';
            book4.style.display = 'none';
            book5.style.display = 'none';
            nav.style.top = '-100px';
        });

        toBook4.addEventListener('click', () => {
            writing_main.style.display = 'none';
            writing.style.paddingTop = '24px';
            book1.style.display = 'none';
            book2.style.display = 'none';
            book3.style.display = 'none';
            book4.style.display = 'block';
            book5.style.display = 'none';
            nav.style.top = '-100px';
        });

        toBook5.addEventListener('click', () => {
            writing_main.style.display = 'none';
            writing.style.paddingTop = '24px';
            book1.style.display = 'none';
            book2.style.display = 'none';
            book3.style.display = 'none';
            book4.style.display = 'none';
            book5.style.display = 'block';
            nav.style.top = '-100px';
        });

        backtoperform.forEach(back => {
            back.addEventListener('click', () => {
                writing_main.style.display = 'block';
                writing.style.paddingTop = '200px';
                book1.style.display = 'none';
                book2.style.display = 'none';
                book3.style.display = 'none';
                book4.style.display = 'none';
                book5.style.display = 'none';
                nav.style.top = '70px';
            })
        })  
    </script>

    <script src="javascripts/index.js"></script>
</body>

</html>