* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    scale: 0.8;
  }
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bg-1.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 2s ease;
  position: relative;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: normal;
}

.c-gray {
  color: var(--Gray-100, #f2f4f7);
}
.g-8 {
  gap: 8px;
}
.g-16 {
  gap: 16px;
}
.g-24 {
  gap: 24px;
}
.g-51 {
  gap: 51px;
}
.p-80 {
  padding: 80px;
}
.pr-24 {
  padding-right: 24px;
}
.pr-32 {
  padding-right: 32px;
}
.pr-60 {
  padding-right: 60px;
}
.pl-24 {
  padding-left: 24px;
}
.pl-32 {
  padding-left: 32px;
}
.pl-60 {
  padding-left: 60px;
}
.py-32 {
  padding: 32px 0;
}
.pb-32 {
  padding-bottom: 32px;
}
.p-16 {
  padding: 16px;
}
.p-8-16 {
  padding: 8px 16px;
}
.p-20-32 {
  padding: 20px 32px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.mb-32 {
  margin-bottom: 32px;
}
.vogue {
  font-family: Vogue;
}
.motserrat {
  font-family: Montserrat;
}
.t-t-cap {
  text-transform: capitalize;
}
.t-t-up {
  text-transform: uppercase;
}
.t-a-center {
  text-align: center;
}
.fs-6w {
  font-size: calc(min(6vw, 84px));
}
.fs-3vw {
  font-size: calc(min(3vw, 64px));
}
.fs-2vw {
  font-size: calc(min(2vw, 48px));
}
.fs-1d5vw {
  font-size: calc(min(1.5vw, 36px));
}
.fs-1d3vw {
  font-size: calc(min(1.3vw, 28px));
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
.fs-44 {
  font-size: 44px;
}
.fs-48 {
  font-size: 48px;
}
.fs-62 {
  font-size: 62px;
}
.fs-88 {
  font-size: 88px;
}
.f-st-i {
  font-style: italic;
}
.f-w-600 {
  font-weight: 600;
}
.f-w-500 {
  font-weight: 500;
}
.f-w-normal {
  font-weight: 400;
}
.f-w-smaller {
  font-weight: 300;
}
.d-i-b {
  display: inline-block;
}
.d-n {
  display: none !important;
}
.d-f {
  display: flex;
}
.visible {
  display: block;
}

#nav-containter {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: top 0.3s ease;
}

#nav {
  width: 800px;
  margin: auto;
  display: inline-flex;
  padding: 14px 40px 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  border-bottom: 2px solid var(--Brand-500, #9e77ed);
  background: var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
  box-shadow: 0px 12px 32px 0px rgba(8, 4, 57, 0.25);
  backdrop-filter: blur(20px);
  color: var(--Gray-25, #fcfcfd);
  font-size: 1.25rem;
  text-transform: capitalize;
  z-index: 1000;
}

#nav a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: center;

  font-weight: 500;
  transition: color 0.3s ease;
  border-radius: 10px;
  cursor: pointer;
}

#nav a:hover {
  color: var(--Purple-600, #6938ef);
  border-radius: 10px;
  background: var(--Transparent-white-60, rgba(255, 255, 255, 0.6));
}
#nav a.active,
#nav a:hover.active {
  color: var(--Gray-25, #fcfcfd);
  background: var(
    --gradient-brand-90060045-deg,
    linear-gradient(45deg, #42307d 0%, #7f56d9 100%)
  );
  box-shadow: 0px 8px 16px 0px rgba(43, 2, 69, 0.25);
}
#slide {
  position: relative;
  width: 100%;
  height: 100%;
}

#slide a {
  color: var(--Brand-50, #f9f5ff);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 16px;
  border: 1px solid var(--Brand-50, #f9f5ff);
}

#slide a:hover {
  color: var(--Brand-600, #7f56d9);
  border-radius: 10px;
  background: var(--Brand-25, #fcfaff);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#slide1 {
  background-image: url("../images/home-img-1.png");
  background-size: contain;
}
#slide2 {
  background-image: url("../images/home-img-2.png");
}
#slide3 {
  background-image: url("../images/home-img-3.png");
}
#slide4 {
  background-image: url("../images/home-img-4.png");
}
#slide5 {
  background-image: url("../images/home-img-11.png");
}
.header {
  max-width: 39%;
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: var(--Gray-25, #fcfcfd);
  font-size: 44px;
  font-family: Vogue;
  font-weight: 200;
  font-style: normal;
  line-height: 40px;
}
.header h1 {
  white-space: pre;
  font-size: 1em;
}
.header1 {
  top: 50%;
  left: 80%;
}
.header2 {
  top: 70%;
  left: 80%;
}
.header3 {
  top: 50%;
  left: 30%;
}
.header4 {
  top: 50%;
  left: 70%;
  padding: 24px 32px;
  border-radius: 16px;
  background: var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(12px);
}
.header5 {
  top: 50%;
  left: 30%;
  padding: 24px 32px;
  border-radius: 16px;
  background: var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(12px);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  /* color: white; */
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 50%;
  border: none;
  z-index: 2;
}

.prev:hover,
.next:hover {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(249, 233, 246, 0.6) 0%,
    rgba(241, 216, 238, 0.05) 100%
  );
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots-container {
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dot {
  cursor: pointer;
  display: inline-block;
  transition: background-image 0.6s ease;
  width: 48px;
  height: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.dot.active {
  width: 88px;
  transition: width 0.6s ease;
  background-color: #53389e;
}

.slide-item {
  opacity: 0;
  /* display: none; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  z-index: 1;
}

.slide-item.active {
  display: block;
  opacity: 1;
  z-index: 2;
  transition: all 1s ease-in-out;
  /* transform: translateX(-100%); */
}

.blend {
  mix-blend-mode: lighten; /* Change blend mode as needed */
}
.blend-dark {
  mix-blend-mode: darken;
}

.gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling: initial; */
  gap: 44px;
}
.gallery img {
  scroll-snap-align: start;
}
#about .gallery img {
  flex: 0 0 60%;
  /* width: 100%; */
  height: auto;
  scroll-snap-align: start;
}
/* end of home */

/* start of about (does reuse the above)*/
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-2-3 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
#about img {
  width: 100%;
}

#about {
  padding-top: 200px;
  color: var(--Gray-25, #fcfcfd);
  font-family: Montserrat;
  font-size: 2vw;
}
#active_volunteer {
  border-top: 2px solid var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
  border-bottom: 2px solid var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
}
.more-about {
  cursor: pointer;
  white-space: pre;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--Brand-50, #f9f5ff);
}

.guide-note {
  color: var(--Gray-200, #e4e7ec);
  /* Body lg/med */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
  text-align: center;
}

#about-ballet img {
  flex: 0 0 30%;
}

/* end of about */

/* start of performing */

#performing {
  /* padding-top: 200px; */
  color: var(--Gray-25, #fcfcfd);
  font-family: Montserrat;
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#leg-holder {
  width: 50%;
  height: auto;
  aspect-ratio: 888/709;
  position: relative;
}
#leg-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover {
  min-width: 200px;
  border-radius: 10px;
  border: 1px solid var(--Brand-50, #f9f5ff);
  object-fit: contain;
  cursor: pointer;
}
.hover:hover {
  color: var(--Brand-600, #7f56d9);
  border-radius: 10px;
  background: var(--Brand-25, #fcfaff);
  font-weight: 600;
}
.blur {
  border-radius: 16px;
  background: var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
}
#performing-img-2 {
  opacity: 1;
  transition: all 1s ease-in-out;
}
#leg-holder:hover #performing-img-2 {
  opacity: 0;
}
#ballet {
  position: absolute;
  /* top: calc(max(20%, 200px));
  left: calc(min(10%, 100px)); */
  top: 0;
  left: 0;
  transform: translate(-50%, 100%);
}
#dance {
  position: absolute;
  /* top: calc(max(20%, 200px));
  right: calc(min(10%, 100px)); */
  top: 0;
  right: 0;
  transform: translate(50%, 100%);
}
#cheerleading {
  position: absolute;
  /* bottom: calc(min(20%, 100px));
  left: calc(max(20%, 100px)); */
  bottom: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
#costume {
  position: absolute;
  /* bottom: calc(min(20%, 100px));
  right: calc(min(10%, 100px)); */
  bottom: 0;
  right: 0;
  transform: translate(50%, -50%);
}
#balletInfo,
#cheerleadingInfo,
#costumeInfo,
#danceInfo,
#about,
#writing,
#visuals {
  max-width: 1440px;
  margin: auto;
}
#balletInfo .gallery img {
  flex: 0 0 30%;
}
#costumeInfo .gallery img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

#cheerleadingInfo .gallery img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.backtoperform {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
}

.video-holder {
  display: flex;
  width: 860px;
  height: 484px;
  /* padding: 148px 0px; */
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
}

/* end of performing */

/* start of writing */

#writing {
  padding: 200px 80px 70px;
  color: var(--Gray-25, #fcfcfd);
}
/* end of writing */

/* start of visuals */
#visuals {
  color: var(--Gray-25, #fcfcfd);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Transparent-dark-30, rgba(36, 47, 65, 0.3));
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

#visuals *:hover > .overlay,
#writing *:hover > .overlay {
  opacity: 1;
}

.visuals-header {
  background: var(
    --gradient-brand-80060090-deg,
    linear-gradient(63deg, #53389e 16.72%, #7f56d9 83.39%)
  );
  height: 150px;
  display: flex;
  align-items: flex-end;
  border-radius: 16px 0 0 16px;
}

.visuals-content {
  background: var(
    --gradient-brand-80060090-deg,
    linear-gradient(63deg, #53389e 16.72%, #7f56d9 83.39%)
  );
  height: 150px;
  display: flex;
  align-items: flex-end;
  border-radius: 0 16px 16px 0;
}
.border-bottom {
  border-bottom: 2px solid var(--Transparent-white-30, rgba(255, 255, 255, 0.3));
}

#visuals-main {
  opacity: 1;
  transition: transform 1s ease, display 1s ease;
}
#photoshoot {
  display: none;
}

#sketch {
  display: none;
}

#journal img {
  width: 100%;
  height: auto;
}
#writing-main {
  transition: transform 1s ease, display 1s ease;
}

#return-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  box-shadow: "0 0 10px rgba(0, 0, 0, 0.3)";
  transform: rotate(90deg);
}

#return-top:hover {
  scale: 1.1;
}
